[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"
drf-spectacular = "*"
drf-spectacular-sidecar = "==2023.4.1"
pyjwt = "*"
django-cors-headers = "*"
mysqlclient = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
requests = "*"
celery = "*"
redis = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11.2"
