[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
djangorestframework = "*"
drf-nested-routers = "*"
drf-spectacular = "*"
pyjwt = "*"
django-cors-headers = "*"
mysqlclient = "*"
python-dotenv = "*"
whitenoise = "*"
gunicorn = "*"
dj-database-url = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.11"
